.menu-item-text {
  font-size: 0.8em;
}

.crypto-label {
  min-width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.crypto-input {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.crypto-input.btn {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  border-width: 1px;
}

.btn {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}
.btn:hover {
  background-color: #87cefa;
}

.exchange-btn {
  border-color: #00bfff;
  border-width: 1px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
.exchange-btn:checked {
  background-color: #00bfff;
  color: #fffaf0;
}

.exchange-hbox {
  padding: 3px;
  margin-bottom: 5px;
}

.p0 {
  padding: 0px;
  border-spacing: 0px;
}

.m0 {
  margin: 0px;
}

.coinItem {
  /* padding-top: 3px; */
  /* padding-bottom: 3px; */
  padding-left: 0px;
  /* padding-right: 0px; */
  margin-left: 0px;
  /* margin-right: 0px; */
  margin-inline-start: 0px;
  padding-block-start: 0px;
  /* margin: 0; */
  /* width: 100%; */
}

.itemLabel {
  min-width: 60px;
}

.text-align-right {
  text-align: right;
}

.color {
  background-color: red;
}

.exchange-icon {
  background-size: 15px;
  height: 18px;
  width: 18px;
}

.exchange-icon.binance {
  background-image: url("./assets/exchanges/binance.ico");
}

.exchange-icon.okx {
   background-image: url("assets/exchanges/okx.png");
}
